package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end
import org.springframework.stereotype.Repository;


/**
 * @Class ${table.mapperName}
 * @Description $!{table.comment} Mapper接口
 * @Author ${author}
 * @Date ${date}
 */

#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
